#admin {
  height: 100vh;
  width: 107vw;
  position: absolute;
  top: 0%;
  left: -4%;
  /* overflow-y: scroll; */
  animation: appear .5s ease-in-out;
  z-index: 999;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------------------- */

#wrapper {
  width: 81vw;
}

#page-wrapper {
  padding: 15px 15px;
  min-height: 600px;
  background: #F3F3F3;
  height: 100vh;
  /* overflow-y: scroll; */
  background-color: #D9D9D9;
  width: 95%;
}

#page-inner {
  width: 115%;
  margin: 10px 20px 10px 0px;
  background-color: #00000033;
  padding: 10px;
  min-height: 420px;
  line-height: 20px;
  height: 100vh;

}

.pad-top {
  padding-top: 15px;
}

/*==============================================
    MENU STYLES    
    =============================================*/

.navbar-inverse {
  background-color: #214761;
  border-color: #F0F0F0;
  /* min-height: 80px; */
  width: 115%;
}

.nav>li>a>i {
  margin-right: 10px;
}

.logout-spn {
  float: right;
  color: #EBEBEB;
  font-size: 25px;
  font-weight: 800;
  margin: 20px;
  margin: 10px 25px 10px 50px;
}

.logout-spn a {
  text-decoration: none;
}

.active-link {
  background-color: #f3f3f3;
}

.btn-secondary {
  height: 50%;
  width: 50%;
}

.btn-secondary img {
  height: 76%;
  transform: translate(-25%, -10%);
}

/*==============================================
    DASHBOARD STYLES    
    =============================================*/

.navbar {
  width: 93%;
  position: fixed;
  z-index: 99;
  height: 20%;
}

.adjust-nav {
  width: 100%;
}

h4 {
  color: #EBEBEB
}

.block5 {
  width: 100px;
}

/*==============================================
    FOOTER STYLES     
    =============================================*/
.footer {
  background-color: #214761;
  width: 100%;
  color: #EBEBEB;
  padding: 20px 50px 20px 50px;
  padding-left: 20px;
}

.footer>a,
.footer>a:hover {

  color: #EBEBEB;
}

/* --------- CARD --------------------------------- */

body {
  margin: 0;
  padding: 0;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: consolas;
}

#card {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0
}

.container2 {
  height: 100%;
  max-width: 1230px;
  margin-top: 0;
}

.container2 .card2 {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #00000066;
  width: 80px;
  height: 60vh;
  margin-left: 18px;
  max-width: 20%;

}

.container .card .face {
  width: 180px;
  height: 190px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(40px);
}

.container2 .card2:hover {
  background: rgb(187, 7, 52);
  transform: translateY(0);
  z-index: 50;
  transform: scale(1.25);
  transition: ease-in-out .5s;
}

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
  padding-left: 1%;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
  z-index: 50;
}

img {
  height: 20vh;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #EBEBEB;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #EBEBEB;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
  z-index: 50;
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

h3 {
  color: Black
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #EBEBEB;
  z-index: 50;
}

.contact {
  padding-left: 0;
}

/*---------- END CARD ------------------------------*/

/* ------------- SECTIONS ---------------------------*/

#sectionBlog {
  height: 100vh;
}

/* ------------- END SECTIONS ---------------------------*/

/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media(min-width:768px) {

  /* ----admin board ------------- */
  #admin {
    height: 100vh;
    width: 105vw;
    position: absolute;
    top: 0%;
    left: -4%;
    -webkit-animation: appear .5s ease-in-out;
    animation: appear .5s ease-in-out;
    z-index: 999;
  }

  #page-wrapper {
    padding: 15px 30px;
    min-height: 1050px;
  }

  .navbar {
    width: 98%;
    position: fixed;
    z-index: 99;
    height: 10%;
    left: 1%
  }

  .nav2 {
    margin-top: 5.5%;
  }

  h2 {
    font-size: 1.5rem;
  }

  .navbar-side {
    z-index: 1;
    position: absolute;
    width: 260px;
  }

  .btn-secondary {
    height: 50%;
    width: 18%;
  }

  #wrapper {
    width: 100vw;

  }

  #page-inner {
    width: 88%;
  }



  /* --------- card ----------------- */
  .container .card {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #00000066;
    width: 100px;
    height: 43vh;
  }

  .container {
    margin-top: 0;
    max-width: 80%;
    max-height: 80%;
  }

  .container .card .face.face1 .content img {
    max-width: 100px;
  }

  .container .card:hover .face.face1 {
    background: rgb(187, 7, 52);
    transform: translateY(0);
    z-index: 50;
  }

  .col-md-3 {
    max-width: 24%;
  }
}

@media screen and (min-width:1280px) {
  .navbar {
    width: 90%;
  }

  #page-wrapper {
    padding: 0;
    min-height: 150px;
    padding-top: 0;
    width: 100%;
  }

  #wrapper {
    width: 100vw;
  }

  #page-inner {
    height: 70vh;
    width: 90vw
  }

  .navbar {
    width: 98%;
    top: 0;
  }

  img {
    height: 15vh;
  }

  .container .card .face.face1 {
    margin-top: 10%;
  }

  .container .card {
    height: 43vh;
  }
}
