<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
</head>
<div class="container-fluid section3">
  <!-- <div class="row presentation2">
    <img src="./../../assets/back.png" class="img-fluid back" alt="" srcset="./../../assets/back.png">

    <!-- <img src="./../../assets/negatif80.png" class="img-fluid back" id="negatif" alt="" srcset="./../../assets/negatif80.png"> -->
</div> -->
<div class="row">
  <div class="col-12" id="presentation2">
    <h2>Les actualités du festival</h2>
    <button class="btn-secondary" id="home"><a href="#section2" (click)='to2()'>Accueil</a></button>
  </div>

  <div class="col-10 offset-2 col-lg-5 offset-lg-2 contenu">
    <div class="container">
      <div class="col-12">
        <h3>Les acteurs du festival</h3>
      </div>
      <div class="row">
        <div class="col-8 article">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quaerat magnam eaque illum rem veniam dolor ipsa architecto ab natus vero distinctio cum ratione mollitia, inventore
            amet
            fugit possimus, dolore laudantium? Modi blanditiis, velit nulla animi officiis doloremque, voluptatibus natus ducimus sit dolores similique repellendus autem esse architecto minus
            magnam?
          </p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolorum dicta ut in velit praesentium eveniet tempore pariatur architecto, ducimus vitae saepe alias labore ex
            dolor
            eaque veritatis cumque possimus!</p>
        </div>
        <div class="col-4 article">
          <img src="./../../assets/rotary.jpg" id="rotary" alt="" srcset="./../../assets/rotary.jpg">
        </div>


        <div class="col-12">
          <h3>Les acteurs du festival</h3>
        </div>
        <div class="col-4 article">
          <img src="./../../assets/rotary.jpg" id="rotary" alt="" srcset="./../../assets/rotary.jpg">
        </div>
        <div class="col-8 article">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quaerat magnam eaque illum rem veniam dolor ipsa architecto ab natus vero distinctio cum ratione mollitia, inventore
            amet
            fugit possimus, dolore laudantium? Modi blanditiis, velit nulla animi officiis doloremque, voluptatibus natus ducimus sit dolores similique repellendus autem esse architecto minus
            magnam?
          </p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolorum dicta ut in velit praesentium eveniet tempore pariatur architecto, ducimus vitae saepe alias labore ex
            dolor
            eaque veritatis cumque possimus!</p>
        </div>

      </div>
      <div class="col-12">
        <h3>Les acteurs du festival</h3>
      </div>
      <div class="row">
        <div class="col-8 article">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quaerat magnam eaque illum rem veniam dolor ipsa architecto ab natus vero distinctio cum ratione mollitia, inventore
            amet
            fugit possimus, dolore laudantium? Modi blanditiis, velit nulla animi officiis doloremque, voluptatibus natus ducimus sit dolores similique repellendus autem esse architecto minus
            magnam?
          </p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolorum dicta ut in velit praesentium eveniet tempore pariatur architecto, ducimus vitae saepe alias labore ex
            dolor
            eaque veritatis cumque possimus!</p>
        </div>
        <div class="col-4 article">
          <img src="./../../assets/rotary.jpg" id="rotary" alt="" srcset="./../../assets/rotary.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-block d-lg-none">
          <a href="https://www.google.fr/maps/place/94200+Ivry-sur-Seine/@48.8153173,2.3884213,14z/data=!4m13!1m7!3m6!1s0x47e673b5023235ad:0x5dc8118d7cbf704f!2s94200+Ivry-sur-Seine!3b1!8m2!3d48.813055!4d2.38822!3m4!1s0x47e673b5023235ad:0x5dc8118d7cbf704f!8m2!3d48.813055!4d2.38822"
            target='_blank'>
            <img src="./../../assets/googleMapIvry.JPG" alt="" srcset="./../../assets/googleMapIvry.JPG" id="google"></a>
          <div class="btn btn-secondary" id="find">
            <a href="https://www.google.fr/maps/place/94200+Ivry-sur-Seine/@48.8153173,2.3884213,14z/data=!4m13!1m7!3m6!1s0x47e673b5023235ad:0x5dc8118d7cbf704f!2s94200+Ivry-sur-Seine!3b1!8m2!3d48.813055!4d2.38822!3m4!1s0x47e673b5023235ad:0x5dc8118d7cbf704f!8m2!3d48.813055!4d2.38822"
              target='_blank'>Nous trouver
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12  contenu4 d-block d-lg-none">

        </div>
      </div>
      <div class="row">
        <div class="col-12  contenu4 d-block d-lg-none">

        </div>
      </div>
    </div>

  </div>
  <div class="col-4 offset-1 contenu2 d-none d-lg-block">


    <div class="row">
      <div class="col-12 d-none d-lg-block">
        <a href="https://www.google.fr/maps/place/94200+Ivry-sur-Seine/@48.8153173,2.3884213,14z/data=!4m13!1m7!3m6!1s0x47e673b5023235ad:0x5dc8118d7cbf704f!2s94200+Ivry-sur-Seine!3b1!8m2!3d48.813055!4d2.38822!3m4!1s0x47e673b5023235ad:0x5dc8118d7cbf704f!8m2!3d48.813055!4d2.38822"
          target='_blank'>
          <img src="./../../assets/googleMapIvry.JPG" alt="" srcset="./../../assets/googleMapIvry.JPG" id="google"></a>
        <div class="btn btn-secondary" id="find">
          <a href="https://www.google.fr/maps/place/94200+Ivry-sur-Seine/@48.8153173,2.3884213,14z/data=!4m13!1m7!3m6!1s0x47e673b5023235ad:0x5dc8118d7cbf704f!2s94200+Ivry-sur-Seine!3b1!8m2!3d48.813055!4d2.38822!3m4!1s0x47e673b5023235ad:0x5dc8118d7cbf704f!8m2!3d48.813055!4d2.38822"
            target='_blank'>Nous trouver
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12  contenu4 d-none d-lg-block">

      </div>
    </div>


  </div>
</div>
