<div class="container-fluid section3">
  <div class="row presentation2">
    <img src="./../../assets/back.png" class="img-fluid back" alt="" srcset="./../../assets/back.png">

    <!-- <img src="./../../assets/negatif80.png" class="img-fluid back" id="negatif" alt="" srcset="./../../assets/negatif80.png"> -->
  </div>
  <div class="row">
    <div class="col-12" id="presentation2">
      <h2>Les actualités du festival</h2>
      <button class="btn-secondary" id="home"><a href="#cut">Home</a></button>
    </div>

    <div class="col-5 offset-1 contenu">

    </div>
    <div class="col-4 offset-1 contenu">
      <!-- <google-map></google-map> -->

    </div>
    <div class="col-5 offset-1 contenu2">

    </div>
    <div class="col-4 offset-1 contenu2">


    </div>


  </div>
