* {
  margin: 0;
  padding: 0;
  height: 1920px;

}

.container {

  position: absolute;
  display: block;
  top: 1280px;
  left: 0;
  width: 100%;
  max-height: 1920px;
  margin: 0;
  background: #abc;
  overflow-y: auto;
  overflow-x: scroll;
  transform: rotate(-90deg) translateY(-1910px);
  transform-origin: right top;
  box-sizing: border-box;
}



.container section {

  /* height: 98%; */
  display: block;
  padding: 5px;

  transform: rotate(90deg);
  transform-origin: right top;
}

.container section:nth-child(1) {
  background-color: rgb(96, 96, 170);
}

.container section:nth-child(2) {
  /* background-color: rgb(54, 54, 95); */
}

.container section:nth-child(3) {
  background-color: rgb(96, 96, 170);
}

.container section:nth-child(4) {
  background-color: rgb(134, 134, 231);
}

.container section .content {
  text-align: center;
  max-width: 40%;
  margin: 10%
}

.container section .content h2 {
  font-family: exo 2;
  font-size: 4em;
  font-style: italic;
  color: rgb(133, 131, 131);
}

.container section .content p {
  position: absolute;
  top: 16%;
  max-width: 60%;
  left: 50%;
  transform: translate(-50%);
}

.btn-secondary {
  position: absolute;
  right: 9%;
  top: 10%;
  height: 40px;
  width: 100px;
  border: none;
  background-color: rgb(152, 153, 153);
  border-radius: 10%;
}

.btn-secondary:hover {
  background-color: aqua;
  border: none;
  box-shadow: 1px 1px 2px 2px aqua, 1px 1px 5px 5px white;
}

.btn-secondary a {
  font-family: play;
  font-style: italic;
  font-weight: bold;
  color: white;
}

#btn3 {
  position: absolute;
  top: 10%;
  right: 21%;
}

#btn4 {
  position: absolute;
  top: 10%;
  right: 15%;
}

/* ------------------------------------------- */


.nav {
  position: absolute;
  top: 1298px;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 999;
  background-color: #ddd;
  width: 20%;
  height: 100%
}

nav {
  align-items: center;
}

.nav-link {
  height: 3%;
}

nav a {
  font-family: 'Special Elite',
    cursive;
  color: #555;
  font-size: 2rem;
}

h1 {
  font-family: Exo 2;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
}

#titre {
  margin-top: 2%;
  margin-bottom: 10%
}

/* -------------------------------- mat-nav -------------------------------- */
/* .mat-drawer-container {
  position: absolute;
  z-index: 999;  
  -webkit-overflow-scrolling: touch;
  height: 100%;
  top: 1280px;
  left: 10px;
  overflow: hidden;
}

mat-sidenav-container {
  width: 20%;
}

mat-sidenav-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

mat-sidenav-content a {
  font-family: 'Special Elite',
    cursive;
  color: #555;
  font-size: 2rem;
  height: 20%;
} */
.mat-drawer-container {
  position: absolute;
  z-index: 999;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  top: 1280px;
  left: 10px;
  overflow: auto;
  background: transparent;
  width: 20%;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: #fffd;
}


mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
  overflow-y: hidden;
  background: transparent;
}

mat-sidenav {
  width: 384px;
  background: #fffd;
}

main {
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mat-toolbar {
  border-radius: 3px;
  background: transparent;
}

@media(max-width: 959px) {
  .mat-toolbar {
    border-radius: 0px;
    background: transparent;
  }
}
