<div class="container" id="accueil">

  <section #section1>
    <div class="content">
      <div class="row">
        <div class="col-2 offset-2">
          <h2>Section une</h2>
        </div>
      </div>

      <button class="btn-secondary"><a href="#cut">Home</a></button>


      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis animi illum consequatur esse omnis! Consequatur tenetur dolor temporibus quo obcaecati eius totam eligendi natus? Eum
        facilis
        ipsum, voluptatem laudantium at harum, eius explicabo odio iusto temporibus provident aspernatur dolores, nobis consequuntur id. Nihil sequi in magnam cupiditate esse veniam voluptate modi
        laborum
        officiis eveniet? Fuga nihil nulla magnam commodi. Atque ipsa ipsum, exercitationem corporis deleniti debitis illum. Quo, dicta. Ex nesciunt perspiciatis nisi similique nostrum voluptatum
        quam
        accusantium, mollitia dolor maiores tenetur suscipit amet corrupti possimus dolores, rem ipsum! Totam repellat numquam voluptas tempora saepe, sint reprehenderit officia, animi dolores
        accusamus
        voluptates eligendi consequatur optio, sed voluptate. Nesciunt architecto et quasi impedit numquam aliquam explicabo? Repellendus nobis tempore blanditiis ex veritatis facere impedit
        dolore eaque,
        perferendis nisi obcaecati fugit soluta rerum ut a sunt accusamus porro corporis tenetur placeat fugiat officia quas et architecto. Architecto voluptatum repellendus sapiente similique ad.
      </p>
    </div>
  </section>
  <section id="section2">
    <div class="content">
      <h2>Section deux</h2>
      <button class="btn-secondary" id="home"><a href="#cut">Home</a></button>
      <button class="btn-secondary" id="btn3"><a href="#section3">Section3</a></button>
      <button class="btn-secondary" id="btn4"><a href="#section4">Section4</a></button>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis animi illum consequatur esse omnis! Consequatur tenetur dolor temporibus quo obcaecati eius totam eligendi natus? Eum
        facilis
        ipsum, voluptatem laudantium at harum, eius explicabo odio iusto temporibus provident aspernatur dolores, nobis consequuntur id. Nihil sequi in magnam cupiditate esse veniam voluptate modi
        laborum
        officiis eveniet? Fuga nihil nulla magnam commodi. Atque ipsa ipsum, exercitationem corporis deleniti debitis illum. Quo, dicta. Ex nesciunt perspiciatis nisi similique nostrum voluptatum
        quam
        accusantium, mollitia dolor maiores tenetur suscipit amet corrupti possimus dolores, rem ipsum! Totam repellat numquam voluptas tempora saepe, sint reprehenderit officia, animi dolores
        accusamus
        voluptates eligendi consequatur optio, sed voluptate. Nesciunt architecto et quasi impedit numquam aliquam explicabo? Repellendus nobis tempore blanditiis ex veritatis facere impedit
        dolore eaque,
        perferendis nisi obcaecati fugit soluta rerum ut a sunt accusamus porro corporis tenetur placeat fugiat officia quas et architecto. Architecto voluptatum repellendus sapiente similique ad.
      </p>
    </div>
  </section>
  <section id="section3">
    <div class="content">
      <h2>Section trois</h2>
      <button class="btn-secondary" id="btn3"><a href="#section2">Section2</a></button>
      <button class="btn-secondary" id="btn4"><a href="#section4">Section4</a></button>
      <button class="btn-secondary" id="home"><a href="#cut">Home</a></button>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis animi illum consequatur esse omnis! Consequatur tenetur dolor temporibus quo obcaecati eius totam eligendi natus? Eum
        facilis
        ipsum, voluptatem laudantium at harum, eius explicabo odio iusto temporibus provident aspernatur dolores, nobis consequuntur id. Nihil sequi in magnam cupiditate esse veniam voluptate modi
        laborum
        officiis eveniet? Fuga nihil nulla magnam commodi. Atque ipsa ipsum, exercitationem corporis deleniti debitis illum. Quo, dicta. Ex nesciunt perspiciatis nisi similique nostrum voluptatum
        quam
        accusantium, mollitia dolor maiores tenetur suscipit amet corrupti possimus dolores, rem ipsum! Totam repellat numquam voluptas tempora saepe, sint reprehenderit officia, animi dolores
        accusamus
        voluptates eligendi consequatur optio, sed voluptate. Nesciunt architecto et quasi impedit numquam aliquam explicabo? Repellendus nobis tempore blanditiis ex veritatis facere impedit
        dolore eaque,
        perferendis nisi obcaecati fugit soluta rerum ut a sunt accusamus porro corporis tenetur placeat fugiat officia quas et architecto. Architecto voluptatum repellendus sapiente similique ad.
      </p>
    </div>
  </section>
  <section id="section4">
    <div class="content">
      <h2>Section quatre</h2>
      <button class="btn-secondary" id="btn4"><a href="#section2">Section2</a></button>
      <button class="btn-secondary" id="btn3"><a href="#section3">Section3</a></button>
      <button class="btn-secondary" id="home"><a href="#cut">Home</a></button>


      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis animi illum consequatur esse omnis! Consequatur tenetur dolor temporibus quo obcaecati eius totam eligendi natus? Eum
        facilis
        ipsum, voluptatem laudantium at harum, eius explicabo odio iusto temporibus provident aspernatur dolores, nobis consequuntur id. Nihil sequi in magnam cupiditate esse veniam voluptate modi
        laborum
        officiis eveniet? Fuga nihil nulla magnam commodi. Atque ipsa ipsum, exercitationem corporis deleniti debitis illum. Quo, dicta. Ex nesciunt perspiciatis nisi similique nostrum voluptatum
        quam
        accusantium, mollitia dolor maiores tenetur suscipit amet corrupti possimus dolores, rem ipsum! Totam repellat numquam voluptas tempora saepe, sint reprehenderit officia, animi dolores
        accusamus
        voluptates eligendi consequatur optio, sed voluptate. Nesciunt architecto et quasi impedit numquam aliquam explicabo? Repellendus nobis tempore blanditiis ex veritatis facere impedit
        dolore eaque,
        perferendis nisi obcaecati fugit soluta rerum ut a sunt accusamus porro corporis tenetur placeat fugiat officia quas et architecto. Architecto voluptatum repellendus sapiente similique ad.
      </p>
    </div>
  </section>
