<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
</head>

<p class="underline">
  rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
</p>

<div class="row">


  <mat-sidenav-container id="mat-side">
    <mat-sidenav #sidenav role="navigation">
      <!--this is a place for us to add side-nav code-->
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <!-- <div class="nav-link" href="#" id="titre">

        <h1>Festival du film d'Ivry</h1>
      </div>

      <a class="nav-link active" href="#">Active</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a><a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a><a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a> -->

      <router-outlet></router-outlet>
      <div class="row d-flex justify-content-between button">
        <div class="col-2 offset-7 button ">
          <button class="btn-secondary" id="real"><a>Vous ètes réalisateur</a></button>
        </div>
        <div class="col-2 button">
          <button class="btn-secondary" id="ent"><a>Vous étes une entreprise</a></button>
        </div>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>

<div class="container" id="accueil">

  <section id="section1">
    <div class="content">
      <div class="row">
        <div class="col-2 offset-2">
          <h2>Section une</h2>
        </div>
      </div>

      <button class="btn-secondary"><a href="#cut">Home</a></button>


      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis animi illum consequatur esse omnis! Consequatur tenetur dolor temporibus quo obcaecati eius totam eligendi natus? Eum
        facilis
        ipsum, voluptatem laudantium at harum, eius explicabo odio iusto temporibus provident aspernatur dolores, nobis consequuntur id. Nihil sequi in magnam cupiditate esse veniam voluptate modi
        laborum
        officiis eveniet? Fuga nihil nulla magnam commodi. Atque ipsa ipsum, exercitationem corporis deleniti debitis illum. Quo, dicta. Ex nesciunt perspiciatis nisi similique nostrum voluptatum
        quam
        accusantium, mollitia dolor maiores tenetur suscipit amet corrupti possimus dolores, rem ipsum! Totam repellat numquam voluptas tempora saepe, sint reprehenderit officia, animi dolores
        accusamus
        voluptates eligendi consequatur optio, sed voluptate. Nesciunt architecto et quasi impedit numquam aliquam explicabo? Repellendus nobis tempore blanditiis ex veritatis facere impedit
        dolore eaque,
        perferendis nisi obcaecati fugit soluta rerum ut a sunt accusamus porro corporis tenetur placeat fugiat officia quas et architecto. Architecto voluptatum repellendus sapiente similique ad.
      </p>
    </div>
  </section>
  <section id="section2">

    <div class="row presentation">
      <img src="./../../assets/back.png" class="img-fluid back" alt="" srcset="./../../assets/back.png">

      <img src="./../../assets/negatif80.png" class="img-fluid back" id="negatif" alt="" srcset="./../../assets/negatif80.png">
    </div>
    <div class="row" id="underline"></div>
    <div class="container" id="presentation">
      <div class="row presentation">
        <div class="col-9 col-lg-5" id="content">
          <div class="row h2">
            <div class="col-12 d-flex align-items-center" id="info">
              <h2>Qu'est-ce que le festival</h2>
            </div>
          </div>
          <div class="row h3">
            <div class="col-4">
              <h3>Pour qui : </h3>
            </div>
          </div>
          <div class="row p">
            <div class="col-12">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta facere facilis rerum aliquam cum! Repellat quasi tempora expedita natus quos vitae debitis ducimus, sit atque.
                Impedit
                quo
                nesciunt veniam iusto cum doloremque sit, illum asperiores non ab vitae ullam animi magnam quod quasi quas atque itaque eum provident debitis dignissimos soluta voluptatum! Odit a,
                consequuntur quis perspiciatis est qui dicta doloremque! Eligendi, ad nulla aliquid deleniti, harum nostrum architecto saepe enim ducimus libero ex dignissimos laudantium explicabo
                laboriosam nobis. Sapiente incidunt, praesentium quo molestiae, reiciendis tenetur iste ex pariatur saepe corrupti, numquam expedita inventore unde laudantium excepturi aspernatur
                itaque
                atque.</p>
            </div>

          </div>
          <div class="row h3">
            <div class="col-6">
              <h3>Les objectifs : </h3>
            </div>

          </div>
          <div class="row p">
            <div class="col-12">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim cum atque sequi quidem harum at amet quae. A corrupti doloremque omnis, molestias autem cumque doloribus voluptatibus
                consequatur impedit illum eos explicabo vitae, tempore, maxime debitis? Ratione iure porro at id explicabo autem illum hic consectetur soluta voluptas ea, atque aperiam.</p>
            </div>

          </div>

        </div>
        <div class="col-6 d-flex justify-content-start">
          <div class="row right-side">
            <div class="col-9 col-lg-12 carousel">
              <div class="scrollable">
                <div class="items">
                  <img src="./../../assets/eye.jpg" alt="" />
                  <img src="./../../assets/mystical.jpg" alt="" />
                  <img src="./../../assets/stretched.jpg" alt="" />
                  <img src="./../../assets/cam.jpg" alt="" />
                  <img src="./../../assets/moyen_format.jpg" alt="" />
                </div>
              </div>
            </div>





          </div>
        </div>
        <div class="row d-flex justify-content-around">


        </div>




      </div>
    </div>

  </section>

  <section id="section3">
    <div class="content">
      <h2>Section trois</h2>
      <button class="btn-secondary" id="btn2" (click)="to2()"><a>Section2</a></button>
      <button class="btn-secondary" id="btn4" (click)="to4()"><a>Section4</a></button>
      <button class="btn-secondary" id="home"><a href="#cut">Home</a></button>

    </div>
  </section>

  <section id="section4">
    <div class="content">
      <h2>Section quatre</h2>
      <button class="btn-secondary" id="btn2" (click)="to2()"><a>Section2</a></button>
      <button class="btn-secondary" id="btn3" (click)="to3()"><a>Section3</a></button>
      <button class="btn-secondary" id="home"><a href="#cut">Home</a></button>


      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis animi illum consequatur esse omnis! Consequatur tenetur dolor temporibus quo obcaecati eius totam eligendi natus? Eum
        facilis
        ipsum, voluptatem laudantium at harum, eius explicabo odio iusto temporibus provident aspernatur dolores, nobis consequuntur id. Nihil sequi in magnam cupiditate esse veniam voluptate modi
        laborum
        officiis eveniet? Fuga nihil nulla magnam commodi. Atque ipsa ipsum, exercitationem corporis deleniti debitis illum. Quo, dicta. Ex nesciunt perspiciatis nisi similique nostrum voluptatum
        quam
        accusantium, mollitia dolor maiores tenetur suscipit amet corrupti possimus dolores, rem ipsum! Totam repellat numquam voluptas tempora saepe, sint reprehenderit officia, animi dolores
        accusamus
        voluptates eligendi consequatur optio, sed voluptate. Nesciunt architecto et quasi impedit numquam aliquam explicabo? Repellendus nobis tempore blanditiis ex veritatis facere impedit
        dolore eaque,
        perferendis nisi obcaecati fugit soluta rerum ut a sunt accusamus porro corporis tenetur placeat fugiat officia quas et architecto. Architecto voluptatum repellendus sapiente similique ad.
      </p>
    </div>
  </section>
</div>
