a {
  text-decoration: none;
  color: #333;
}

a:hover,
a:active {
  color: lightgray;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

a {
  text-decoration: none;
  color: white;
  transition: 1s ease-in-out
}

a:hover,
a:active {
  color: lightgray;
  transform: scale(1.1, 1.2);
  transform-origin: bottom;
  transition: .3s ease-in-out
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: #eaeaea;
  /* overflow-y: hidden; */
}

mat-nav-list ul {
  display: flex;
  flex-direction: column;

}

.mat-nav-list {
  padding-top: 50px;
  padding-left: 25px;
}



a {
  font-family: 'Special Elite',
    cursive;
  color: #555;
  font-size: 1.5rem;
  line-height: 3rem;
}

.nav-link {
  text-decoration: none;
}

/* mat-nav-list ul {
  display: flex;
  justify-content: center;
} */
.mat-drawer-inner-container {
  /* justify-content: center; */
  display: flex;
  /* overflow-y: hidden !important; */
  height: 100%;
}

.cross {
  width: 85%;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 100%;
}

@media screen and (min-width:1281px) {}
