<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
</head>

<div class="container-fluid">
  <div class="col-12">
    <h2>Qui êtes-vous ?</h2>
  </div>
  <div class="row">
    <div class="col-11 col-lg-5 article" id="realisateur">
      <div class="card">

        <h3 class="card-header info-color white-text text-center py-4">
          <strong>Vous ètes Réalisateur</strong>
        </h3>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

          <!-- Form -->
          <form class="text-center" style="color: #757575;" action="#!">

            <div class="form-row">
              <div class="col">

                <div class="md-form">
                  <input type="text" id="materialRegisterFormFirstName" class="form-control">
                  <label for="materialRegisterFormFirstName">Prénom</label>
                </div>
              </div>
              <div class="col">

                <div class="md-form">
                  <input type="email" id="materialRegisterFormLastName" class="form-control">
                  <label for="materialRegisterFormLastName">Nom</label>
                </div>
              </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
              <input type="email" id="materialRegisterFormEmail" class="form-control">
              <label for="materialRegisterFormEmail">E-mail</label>
            </div>

            <!-- Password -->
            <div class="md-form">
              <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
              <label for="materialRegisterFormPassword">Mot de passe</label>
              <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                At least 8 characters and 1 digit
              </small>
            </div>

            <!-- Phone number -->
            <div class="md-form">
              <input type="password" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock">
              <label for="materialRegisterFormPhone">Téléphone</label>
              <!-- <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                Optional - for two step authentication
              </small> -->
            </div>

            <!-- Newsletter -->
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
              <label class="form-check-label" for="materialRegisterFormNewsletter">S'inscrire à la newsletter</label>
            </div>

            <!-- Vous ètes button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

            <!-- Social register -->
            <!-- <p>or Vous ètes with:</p>

            <a type="button" class="btn-floating btn-fb btn-sm">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
              <i class="fab fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
              <i class="fab fa-github"></i>
            </a> -->


          </form>
          <!-- Form -->

        </div>

      </div>
      <div class="card d-block d-lg-none">

        <h3 class="card-header info-color white-text text-center py-4">
          <strong>Vous ètes une entreprise</strong>
        </h3>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

          <!-- Form -->
          <form class="text-center" style="color: #757575;" action="#!">

            <div class="form-row">
              <div class="col">

                <div class="md-form">
                  <input type="text" id="materialRegisterFormFirstName" class="form-control">
                  <label for="materialRegisterFormFirstName">Prénom</label>
                </div>
              </div>
              <div class="col">

                <div class="md-form">
                  <input type="email" id="materialRegisterFormLastName" class="form-control">
                  <label for="materialRegisterFormLastName">Nom</label>
                </div>
              </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
              <input type="email" id="materialRegisterFormEmail" class="form-control">
              <label for="materialRegisterFormEmail">E-mail</label>
            </div>

            <!-- Password -->
            <div class="md-form">
              <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
              <label for="materialRegisterFormPassword">Mot de passe</label>
              <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                At least 8 characters and 1 digit
              </small>
            </div>

            <!-- Phone number -->
            <div class="md-form">
              <input type="password" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock">
              <label for="materialRegisterFormPhone">Téléphone</label>
              <!-- <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                Optional - for two step authentication
              </small> -->
            </div>

            <!-- Newsletter -->
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
              <label class="form-check-label" for="materialRegisterFormNewsletter">S'inscrire à la newsletter</label>
            </div>

            <!-- Vous ètes button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

            <!-- Social register -->
            <!-- <p>or Vous ètes with:</p>

            <a type="button" class="btn-floating btn-fb btn-sm">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
              <i class="fab fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
              <i class="fab fa-github"></i>
            </a> -->


          </form>
          <!-- Form -->

        </div>

      </div>
    </div>
    <div class="col-11 col-lg-5 article d-none d-lg-block" id="realisateur">
      <div class="card">

        <h3 class="card-header info-color white-text text-center py-4">
          <strong>Vous ètes une entreprise</strong>
        </h3>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

          <!-- Form -->
          <form class="text-center" style="color: #757575;" action="#!">

            <div class="form-row">
              <div class="col">

                <div class="md-form">
                  <input type="text" id="materialRegisterFormFirstName" class="form-control">
                  <label for="materialRegisterFormFirstName">Prénom</label>
                </div>
              </div>
              <div class="col">

                <div class="md-form">
                  <input type="email" id="materialRegisterFormLastName" class="form-control">
                  <label for="materialRegisterFormLastName">Nom</label>
                </div>
              </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
              <input type="email" id="materialRegisterFormEmail" class="form-control">
              <label for="materialRegisterFormEmail">E-mail</label>
            </div>

            <!-- Password -->
            <div class="md-form">
              <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
              <label for="materialRegisterFormPassword">Mot de passe</label>
              <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                At least 8 characters and 1 digit
              </small>
            </div>

            <!-- Phone number -->
            <div class="md-form">
              <input type="password" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock">
              <label for="materialRegisterFormPhone">Téléphone</label>
              <!-- <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                Optional - for two step authentication
              </small> -->
            </div>

            <!-- Newsletter -->
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
              <label class="form-check-label" for="materialRegisterFormNewsletter">S'inscrire à la newsletter</label>
            </div>

            <!-- Vous ètes button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

            <!-- Social register -->
            <!-- <p>or Vous ètes with:</p>

            <a type="button" class="btn-floating btn-fb btn-sm">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
              <i class="fab fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
              <i class="fab fa-github"></i>
            </a> -->


          </form>
          <!-- Form -->

        </div>

      </div>
    </div>
  </div>
</div>
