<body>

  <div class="container" id="landing">
    <h1>Festival du film d'Ivry</h1>
    <a href="#accueil">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Enter </a>
    <h2>Les entreprises rencontrent le 7ème art</h2>

    <div id="first" #video>
      <video autoplay id="firstVideo" (ended)="videoEnd()">
        <source src=" ./../../../assets/Atoms - 8579.mp4" type="video/mp4">

      </video>
    </div>
    <div>
      <video #video2 loop autoplay id="cut">
        <source src="./../../assets/cut.mp4" type="video/mp4">
      </video>
    </div>
  </div>

</body>
