/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-sidenav-container {
  width: 60%;
  background: transparent;
}

.mat-drawer-inner-container .mat-drawer-container .mat-drawer-backdrop .mat-drawer-shown {
  background: transparent !important;
  background-color: transparent !important
}




.mat-typography h1 {
  font-family: Exo 2;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
}

.mat-typography h2 {
  font-family: 'Montserrat', sans-serif;
  z-index: 99;
  font-size: 2.3rem;
}

.mat-typography h3 {
  font-family: 'Montserrat', sans-serif;
  z-index: 99;
  font-size: 1.8rem;
}

.navlist {
  margin-top: 25%;
}

.container section .content {
  max-width: 80%;
}

.container section .content p {
  left: 60px
}

@media screen and (min-width:961px) {


  .mat-drawer-inner-container {
    overflow: hidden !important;
  }

  mat-sidenav-container {
    width: 20%;
  }
}

@media screen and (min-width:1281px) {
  mat-sidenav-container {
    width: 25%;
  }
}
