/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 200vh;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-inner-container {
  overflow: hidden;
}

.mat-typography h1 {
  font-family: Exo 2;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
}

.mat-typography h2 {
  font-family: 'Montserrat',
    sans-serif;

  font-size: 1rem;
}

.navlist {
  margin-top: 25%;
}
