.login-wrapper {
  place-content: end !important;
}

.mat-card {
  height: 250px;
  background-color: #EAEAEA;
  box-shadow: -25px 25px 15px #111;
}

.mat-card-content {
  display: block;
  margin-bottom: 16px;
  height: 55%;
}

form {
  height: 100%;
}

.cross {
  width: 45%;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 100%;
}
