<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box col-9">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
      <div class="col-2 offset-10 col-md-2">
        <button class="btn btn-secondary cross">
          <img src="../../assets/cross.png" alt="" srcset="../../assets/cross.png 1x" [routerLink]="['/']">
        </button>
      </div>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <div class="col-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </div>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>
