.mat-toolbar {
  border-radius: 3px;
  background: transparent;

}

.mat-icon-button {
  top: 70%;
}

.material-icons {
  font-size: 3rem;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  width: 25%;
  padding: 16%;
  padding-left: 0;
}

button {
  background: none;
  border: none;

}

.login {
  width: 65px;
}
